body{
    margin: 0;
    height: 100%;
    background-color:rgb(250, 244, 235);

}
header{
    border: 1px solid rgb(230, 228, 228);
    width: 20rem;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: rgb(230, 228, 228);
    margin: 0 auto;
    
}
.last-name{
    color: rgb(230, 228, 228);
}
.grid-container{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2fr;
    padding-right: 200px;
    justify-items: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(177, 177, 177) ;


}
.list-section a:hover{
    color: rgb(177, 177, 177);
}
.header-container{
    margin-left: -1px;
}
.main-container h1,h4,p,a{
    margin-top: 20px;
}
.main-container ol{
    list-style-type: upper-alpha;
    font-size: 45px;
    width: 100vw;
    padding-top: 12rem;
    padding-left: 5rem;
}
.profile-photo{
    width: 10rem;
    border-radius: 50%;
}
.list-section{
    list-style-type: none;
    padding-left: 20px;
    color: black;
}
.facebook-logo, .twitter-logo, .github-logo{
    width: 2rem;   
    margin-left: 5rem;
    margin-top: 1rem;
    border-radius: 20%;
    padding-top: 3rem;
}
.linkedin-logo{
    width: 2rem;
    border-radius: 20%;
    padding-top: 3rem;

}

.about, .knowledge, .goal{
    padding-top: 4rem;
}
.flexgoals-1{
    width: 100vw;
    padding-top: 13rem;
    padding-left:2rem;
}
.flexgoals-1 li {
    line-height: 4rem;
    list-style-type: none;
    font-size: 20px;
}
